.images {
    max-width: 400px;
    min-height: 400px;
    border: 3px solid black;
}

.button {
    margin: 10px;
    text-align: center;
    border-radius: 4px;
}

.search-form {
    text-align: center;
}

.search-input {
    border-radius: 10px;
}

.username {
    max-width: 200px;
    margin-bottom: 10px;
}

.password {
    max-width: 250px;
    margin-bottom: 10px;
}

.input-box {
    border-radius: 10px;
}

.game-card {
    border: 3px solid black;
    width: 20%;
    padding: 15px;
    margin: 10px;
    float: left;
    min-height: 500px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 5px 7px #8888;
}